<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Newsletter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
</head>
<body>
    <div class="navbar">
        <img src="\logo-mercado-liebre.svg" height="40px" alt="logo mercado Liebre">
        <h4>Lorem ipsum dolor sit amet consectetur.</h4>
        
    </div>    

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, suscipit, in debitis laborum et odit obcaecati quod velit hic libero distinctio dolorum itaque quia unde eius, esse animi dolor corporis culpa cumque voluptas at. Laborum, accusantium, illum, at iste voluptate cumque facilis soluta similique eligendi tempore excepturi deleniti quod. Vitae nisi rerum excepturi a obcaecati animi debitis repudiandae quae eligendi quo. Doloremque, dolore ducimus pariatur quo sapiente aspernatur temporibus placeat sint ut a molestiae et, voluptate, voluptatibus modi explicabo accusamus quisquam eius commodi necessitatibus autem quod fugiat magni dolores delectus. Dignissimos est quas iste aliquam quasi earum. Cupiditate, voluptas itaque?</p>
        <hr>
    </div>

    <div>
        <h3>Lorem ipsum dolor sit.</h3>
        <img src="\banner_newsletter.png" height="250px" alt="Banner Newsletter">
        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
        <a href="">Lorem, ipsum.-></a>
        <hr>
    </div>

    <div>
        <h2>Lorem, ipsum dolor.</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo enim recusandae repellat, aliquid, totam aliquam non alias minima exercitationem minus dignissimos ratione ut commodi earum officiis. Repellendus, adipisci tenetur? Debitis repellendus, incidunt et recusandae minima dolorum facere, quis, sint laboriosam nemo maiores dolorem iure perspiciatis vitae a corporis aliquam voluptatibus praesentium hic nulla! Quisquam possimus in culpa earum quasi doloremque fuga iste consectetur corrupti minus perspiciatis repudiandae autem asperiores sint fugiat quibusdam quo, aliquid odio?</p>
        <hr>
        <ul>
            <li><a href="">Instagram</a> </li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">GitHub</a></li>
        </ul>
        <p>Saludos,</p>
        <p>Oto</p>
    </div>
    <hr>
    <p class="pie">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, laudantium omnis, unde magnam aperiam in quod iure veritatis et sed debitis consequatur eveniet tempore, porro suscipit numquam excepturi consequuntur quis quibusdam doloremque repudiandae illum commodi obcaecati quos. Corrupti iusto deleniti temporibus et itaque, beatae a tenetur eligendi, labore quaerat vero.</p>
</body>
</html>